* {
	box-sizing: border-box;
}

html {
	color: white;
	cursor: default;
	user-select: none;
	font-family: standard;
	-webkit-font-smoothing: antialiased;
}

img {
	-webkit-user-drag: none;
}

html, body {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background-color: transparent;
}

body {
	pointer-events: all;
}

#canvas {
	position: absolute;
	pointer-events: none;
	z-index: 1000;
	border: 1px solid red;
	display: none;
}

.quitButton {
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 11111;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.icon {
	/*font-weight: bold;*/
	width: 120px;
	height: 120px;
	text-align: center;
		white-space: normal;
	/*background-color: blue;*/
}

.icon * {
	pointer-events: none;
}

.icon img {
	width: 56%;
}

/*.icon:hover img {
	filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}*/
