
	html {
		--icon-color-inactive: white;
		--icon-color-active: white;
		--icon-bg-active: #3067D2;
		--icon-bg-inactive: gray;
		--border-size: 6px;
		--padding-top-bottom: 4px;
		--padding-left-right: 5px;
		font-family: monospace;
		color: black;
	}

	.icon {
		width: 120px;
		height: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		/*pointer-events: none;*/
		
	}


	

	.icon img {
		width: 60%;
		margin-bottom: 0px;
	}

	.icon img,
	.icon .line {
		pointer-events: all;
	}

	.icon {
		--icon-color: white;
	}

	.icon.selected {
		--icon-color: white;
		--icon-background: var(--icon-bg-inactive);
	}

	.focused .icon.selected {
		--icon-color: var(--icon-color-active);
		--icon-background: var(--icon-bg-active);
	}



	.borderSegment.left {
		left: calc(var(--border-size) * -1);
	}

	.borderSegment.right {
		right: calc(var(--border-size) * -1);
	}

	.line {
		white-space: nowrap;
		text-align: center;
		position: relative;
		color: var(--icon-color);
		padding-top: var(--padding-top-bottom);
		padding-bottom: var(--padding-top-bottom);
		padding-left: var(--padding-left-right);
		padding-right: var(--padding-left-right);
		background-color: var(--icon-background);
		border-bottom-left-radius: var(--border-size);
		border-bottom-right-radius: var(--border-size); 
	}

	.firstLine {
		border-top-left-radius: var(--border-size);
		border-top-right-radius: var(--border-size); 
	}

	.secondLineContent {
		padding-top: 0px;
		margin-top: calc(var(--padding-top-bottom) * -1);
	}

	.secondLineContent:empty ~ * {
		display: none;
	}


	.borderSegment {
		top: 0px;
		overflow: hidden;
		position: absolute;
		width: var(--border-size);
		height: var(--border-size);
	}

	.borderSegment:before {
		content: '\00a0';
		display: block;
		position: relative;
		border-radius: var(--border-size);
		width: calc(var(--border-size) * 2);
		height: calc(var(--border-size) * 2);
		box-shadow: 0px 0px 0px 2000px var(--icon-background);
	}

	.borderSegment.left:before {
		left: calc(var(--border-size) * -1);
	}

	.secondLineWrapper {
		position: relative;
	}


* {
	box-sizing: border-box;
}

html {
	cursor: default;
	user-select: none;
	/*font-family: standard;*/
	/*-webkit-font-smoothing: antialiased;*/
}

img {
	-webkit-user-drag: none;
}

html, body {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background-color: transparent;
}

body {
	/*pointer-events: all;*/
}

#canvas {
	position: absolute;
	pointer-events: none;
	z-index: 1000;
	border: 1px solid red;
	display: none;
}

.quitButton {
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 11111;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}


